// Dimensions
$top-nav-height: 60px;
$left-nav-width: 90px;
$content-header-height: 100px;

// Colors

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

// Reset

input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

// Global Styles
h1 {
  font-family: "Raleway";
  font-weight: 600;
}

h2, h3 {
  font-family: "Raleway";
  font-weight: 600;
}

// Global Components

.action-button {
  cursor: pointer;
  background-color: #FA3870;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Open Sans";
  padding: 10px;
}

.flex-spacer {
  flex: 1;
}

// Source

.App-Header {
  height: $top-nav-height;
  background-color: #0c1724;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin-left: 25px;
    color: white;
  }
}

.App-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: calc(100vh - #{$top-nav-height});
}

.App-Nav {
  width: $left-nav-width;
  min-height: 100%;
  background-color: #1F3B5D;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.nav-item {
  height: 75px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8191B1;
  font-family: "Open-Sans";
  font-size: 14px;

  &.active {
    background-color: #122337;
    color: white;
  }

  &:hover {
    background-color: #122337;
    color: white;
  }
}

.App-Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
}

.App-Content.wallet, .App-Content.transaction {

  .Content-Header {
    background-color: white;
    height: $content-header-height;
    padding: 20px;
    // color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #d4d8e3;

    .Content-Header-Nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1;

      .content-header-nav-item {
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: normal;
        cursor: pointer;
        // padding-top: 2.5px;

        &.active {
          padding-bottom: 2.5px;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          border-bottom-color: rgba(70, 174, 218, 1);
        }

        &:not(:first-child) {
          margin-left: 15px;
        }

      }
    }
  }

  .Content-Content {
    background-color: #F3F4F7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: calc(100vh - #{$top-nav-height + $content-header-height});
    padding: 25px;
  }

}

.App-Content {

  .panels-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .panels-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .panel {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 3px;
    box-shadow: 0 1px 0 #c5cad8, 0 2px 3px #d4d8e3;

    .panel-header {
      background-color: rgba(243, 244, 247, 0.5);
      height: 40px;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #F3F4F7;
      font-size: 14px;

      h3 {
        margin-left: 15px;
      }
    }

    .panel-content {
      padding: 25px;
    }
  }

}

.App-Content.wallet {

  .private-key {
    width: 40%;
    margin-top: 25px;
  }

  .address {
    width: 40%;
    margin-top: 25px;
  }

  .ether-key {
    font-size: 14px;
  }

  .private-key, .address {

    .panel-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      canvas {
        margin-top: 25px;
      }
    }
  }

  .input-sources {
    height: 80px;
    background-image: linear-gradient(0deg, #2a5e82 10%, #182848 90%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .input-sources-actions {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    .wallet-gen-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      p {
        margin-left: 25px;
      }
    }

  }


  input.wallet-password {
    background-color: rgba(0,0,0,0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    width: 50%;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    font-family: "Open Sans";
    color: white;
  }

  ::-webkit-input-placeholder { color: rgb(110, 125, 164); }
  ::-moz-placeholder { color: rgb(110, 125, 164); }
  :-ms-input-placeholder { color: rgb(110, 125, 164); }
  :-moz-placeholder { color: rgb(110, 125, 164); }

}
