.App {
}

input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.App-Header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App-Content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.private-key {
  width: 50%;
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address {
  width: 50%;
  margin-top: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.private-key h1, .address h1 {
  margin-bottom: 10px;
}

.private-key p, .address p {
  margin-bottom: 10px;
}

input.wallet-password {
  width: 50%;
  padding: 10px 5px 10px 5px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.generate-wallet {
  cursor: pointer;
  background-color: rgba(26, 202, 86, 1);
  padding: 10px;
}
